@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Source Sans 3', sans-serif;
  @apply text-base;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
  font-family: 'Arvo', serif;
}

.access-bg {
  width: 100%;
  object-fit: cover;
  height: calc(100vh - 128px);
}

.dashboard-height {
  height: calc(100vh - 128px);
}
